#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.roue{
  animation: logo-spin infinite linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-form{
  place-items: center;
  margin-top: 50%;
}

.home-form-1{
  place-items: center;
  margin-top: 30%;
}
